.main-nav span:hover {
   cursor: pointer;
   background-color: black;
}

.w3schools-logo {
   font-family: fontawesome;
   text-decoration: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-size: 37px;
   letter-spacing: 3px;
   color: #555555;
   display: block;
}

.main-header {
   padding: 20px;
   border:1px solid black;
}

.main-nav {
   border:1px solid black; 
   background: gray;
}

.main-nav span {
   color: white; 
   padding: 20px; 
   display: inline-block;
}
